src/views/desktop/html-templates/SuperGetDesktop-Home.html
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
	xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
	<vtex:template id="SuperGetCommon-ResourceHints" />
	<vtex:template id="SuperGetCommon-Head" />
	<vtex:contentPlaceHolder id="TITLE PAGE" />
	<vtex:metaTags />
	<vtex:template id="SuperGetCommon-JsonLd" />
	<vtex:template id="SuperGetCommon-Styles" />
	<vtex:template id="SuperGetDesktop-Styles" />
	<link rel="stylesheet" href="/arquivos/superget-desktop-home.css" media="all" />
	<link rel="stylesheet" href="/arquivos/getnet-modaltaxas.css" media="all" />
	<vtex:template id="SuperGetCommon-ThemeScripts" />
	<meta name="google-site-verification" content="sZogK42Tx2TMb35kOvt-vjxxO8bEOAeAxeOVvL8K8T8" />
</head>

<body>
	<vtex:template id="SuperGetDesktop-Header" />
	<main class="x-home__main" role="main">
		<main class="x-content">
			<section class="x__modal__agendamento x-modal--is-not-open">
				<div class="x__modal__agendamento__container">
					<div class="x__modal__agendamento__container__sair">X</div>
					<div class="x__modal__agendamento__container__conteudo">
						<h2>Você quer alugar uma SuperGet? Tudo bem!</h2>
						<p>
							No aluguel, você tem manutenção e substituição da máquina grátis.
							Bom, né? Esteja sempre pronto para vender!
						</p>
						<p>
							Não vai demorar mais do que 3 minutinhos.
						</p>
						<span><strong>Vamos para o site da Getnet?</strong></span>
					</div>
					<div class="x__modal__agendamento__container__carregamento">
						<div class="x__modal__agendamento__container__carregamento__estado"></div>
					</div>
				</div>
			</section>
			<section class="x-banner">
				<div class="x-banner__contents">
					<vtex:contentPlaceHolder id="Banner Principal" />
				</div>
			</section>
			<section class="x-benefits">
				<div class="x-benefits__center">
					<div class="x-benefits__header">
						<h1>A maquininha de cartão com <strong>os melhores benefícios!</strong></h1>
					</div>
					<div class="x-benefits__contents">
						<ul class="x-benefits__list">
							<li><span class="x-benefits__list--icon">
									<vtex.cmc:svgfrete /></span>
								<p>Frete grátis para todo Brasil</p>
							</li>
							<li><span class="x-benefits__list--icon">
									<vtex.cmc:svgtaxa /></span>
								<p>Sem taxa de adesão</p>
							</li>
							<li><span class="x-benefits__list--icon"><img src="/arquivos/chip.png" /></span>
								<p>Chip e plano de dados grátis*</p>
							</li>
							<li><span class="x-benefits__list--icon">
									<vtex.cmc:svgcelular /></span>
								<p>Não precisa de celular*</p>
							</li>
							<li><span class="x-benefits__list--icon">
									<vtex.cmc:svgdolar /></span>
								<p>Compre à vista ou em até 12x sem juros</p>
							</li>
							<li><span class="x-benefits__list--icon">
									<vtex.cmc:svgapps /></span>
								<p>Gerencie suas vendas no app</p>
							</li>
							<li><span class="x-benefits__list--icon">
									<vtex.cmc:svgrecarga /></span>
								<p>Recarga de celular no modelo com bobina</p>
							</li>
							<li><span class="x-benefits__list--icon">
									<vtex.cmc:svgcontagratis /></span>
								<p>Cartão Pré Pago Superget</p>
							</li>
							<li><span class="x-benefits__list--icon">
									<vtex.cmc:svgcrediario /></span>
								<p>Crediário*</p>
							</li>

						</ul>
						<small>*Exceto para SuperGet Mobile</small>
						<div class="x-benefits__info"></div>
					</div>
				</div>
			</section>
			<section class="x-shelf" id="x-shelf" style="display:none">
				<div class="x-shelf__center">
					<div class="x-shelf__header">
						<h2>Escolha a maquininha que mais <strong>Combina com seu negócio</strong></h2>
					</div>
					<div class="x-shelf__contents">
						<div class="x-shelf__full">
							<vtex:contentPlaceHolder id="Produtos Destaque" />
						</div>
					</div>
				</div>
			</section>
			<section id="x-comparative" class="x-comparative">
			    <div class="x-comparative__text" style="display:none">
			        <vtex:contentPlaceHolder id="Texto Produtos em destaque" />
                </div>
                <div class="x-comparative__ideal" style="display:none">
                    <vtex:contentPlaceHolder id="Ideal Produtos em destaque" />
                </div>
                <div class="x-comparative__svgs" style="display:none">
                    <vtex:contentPlaceHolder id="svgs produtos em destaque" />
                </div>
                <vtex:contentPlaceHolder id="Produtos em Destaque" />
			</section>
			<section class="x-superget-sell">
				<div class="x-superget-sell__center">
					<div class="x-superget-sell__header">
						<h2>Veja como é fácil começar <strong>a vender com SuperGet</strong></h2>
					</div>
					<div class="x-superget-sell__contents">
						<ul class="x-superget-sell__list">
							<li class="x-superget-sell__item"><span class="x-superget-sell__item--icon">
									<vtex.cmc:svgstepsmachine /></span>
								<h4>Compre a maquininha</h4>
								<span class="infoText">Realize a compra da maquininha que mais combina com o seu
									negócio, à vista ou em até 12x sem juros, frete grátis para todo o Brasil e sem taxa
									de adesão!</span>
								<div class="arrow"><i></i></div>
							</li>
							<li class="x-superget-sell__item"><span class="x-superget-sell__item--icon">
									<vtex.cmc:svgstepsuser /></span>
								<h4>Realize o cadastro no site</h4>
								<span class="infoText">Para a utilização da sua maquininha é necessário realizar o
									credenciamento junto a Getnet.
									Este credenciamento está sujeito a análise e aprovação. Para clientes que já possuem
									cadastro na Getnet deverão apenas realizar a ativação da maquininha. É simples,
									rápido e fácil!</span>
								<div class="arrow"><i></i></div>
							</li>
							<li class="x-superget-sell__item"><span class="x-superget-sell__item--icon">
									<vtex.cmc:svgstepsmoney /></span>
								<h4>Ative e comece a vender!</h4>
								<span class="infoText">Aqui a ativação da sua maquininha é simples e rápida. Você faz
									pelo app e já pode começar a vender. Boas vendas!</span>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="x-rates">
				<div class="x-rates__center">
				
					<div class="x-rates__header">
						<h2>Receba suas vendas <strong>com taxas imperdíveis</strong></h2>
						<p>Todas suas vendas diretamente na sua conta com flexibilidade na escolha <br /> do prazo de
							recebimento</p>
					</div>
					<div class="x-rates__header-percent">
						<div class="x-rates__header-percent--left">
							<h3>2%</h3>
							<p>No <strong>crédito <br /></strong><strong>à vista </strong>e <br />no
								<strong>débito</strong></p>
						</div>
						<div class="x-rates__header-percent--middle">
							<h3>Receba já! em até 2 dias úteis na sua conta </h3>
							<p>Mais simplicidade para você vender mais. <br /> Ficou com dúvidas? <strong
									class="js--open-taxas">Clique aqui</strong> e confira melhor as <br /> taxas
								aplicadas e as <a class="js-trigger-modal" data-modal="modal-regulamento-oferta-taxas"
									data-eventcategory="superget_taxas_regulamento_oferta" data-eventaction="clique"
									data-eventlabel="consulte_regulamento_oferta-taxas" href="#">condições desse plano
									de recebimento.</a></p>
						</div>
						<div class="modal-containter is--hidden">
							<div class="port-c-modal__container">
								<div class="port-c-modal__wrapper"><a href="#"
										class="port-c-modal__close js-modal">×</a>
									<div class="port-c-modal__content">
										<div class="port-c-m-regulamento">
											<h2>confira as condições</h2>
											<p>Condição válida somente para Pessoa Física, MEI (Microempreendedor Individual) 
											ou Pessoa Jurídica que faturar até R$ 3 milhões por ano, contratando uma máquina 
											Getnet Aluguel (POS Digital, POS 3G + Wi-Fi, POS Chip e TEF), SuperGet Aluguel (com chip) 
											ou Venda (Mobile, 2G, 3G Wifi ou Bobina) com plano de recebimento “Receba Já 2 dias”. 
											Condição não cumulativa com outras negociações disponíveis pela Getnet Adquirência e Serviços 
											para Meios de Pagamento S/A ou pelo Banco Santander Brasil SA. Sujeito à análise cadastral.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="x-rates__header-percent--right">
							<h3>Garanta já a sua</h3><a href="#x-comparative">PEDIR MAQUININHA</a>
						</div>
					</div>
					<div class="x-rates__header-percent--text">
						<h3>Opções <strong>de recebimento</strong></h3>
					</div>

					<div>
						<div class="x-rates__contents">
							<div class="x-rates__first" style="width: 49%;">
								<div class="x-superget-taxas__credito--titulo">
									<h3>Receba já D+2</h3>
								</div>
								<div class="x-superget-taxas__credito--info-taxas">
									<div class="x-superget-taxas__credito--column">
										<div class="x-superget-taxas__info">
											<vtex.cmc:iconeDinheiro />
											<h4> Débito </h4>
											<p> receba em <strong>1 dia</strong> </p>
											<p class="x-superget-taxas__valores">À vista<strong
													class="x-discount">2,00%</strong></p>
										</div>
									</div>
									<div class="x-superget-taxas__credito--column">
										<div class="x-superget-taxas__info">
											<vtex.cmc:iconeCartao />
											<h4> Crédito </h4>
											<P>receba em <strong>2 dias</strong> </P>
										</div>
										<div class="x-superget-taxas">
											<p class="x-superget-taxas__valores">À vista <strong>2,00%</strong></p>
											<p class="x-superget-taxas__valores x-border">parcelado <span
													class="x-after"><strong>5,59%</strong></span> <span
													class="x-discount">+2,99%
													por parcela</span></p>
										</div>
									</div>
								</div>
							</div>
							<div class="x-rates__right" style="width: 49%;">
								<div class="x-superget-taxas__credito--titulo">
									<h3>Receba conforme <br/> suas vendas</h3>
                    </div>
                    <div class="x-superget-taxas__credito--info-taxas">
                      <div class="x-superget-taxas__credito--column">
                        <div class="x-superget-taxas__info">
                          <vtex.cmc:iconeDinheiro />
                          <h4>Débito </h4>
                          <p>receba em <strong>1 dia</strong></p>
                          <p class="x-superget-taxas__valores">À vista<strong class="x-discount">1,95%</strong></p>
                        </div>
                      </div>
                      <div class="x-superget-taxas__credito--column">
                        <div class="x-superget-taxas__info">
                          <vtex.cmc:iconeCartao />
                          <h4 class="heigth"> Crédito </h4>
                          <br></br>
                        </div>
                        <div class="x-superget-taxas">
                          <p class="x-superget-taxas__valores x-border" style="border-left:0">À vista  <span class="x-after"><strong>3,09%</strong></span><span class="x-discount">Receba em 31 dias
                            </span></p>
                            <p class="x-superget-taxas__valores x-border">parcelado <span class="x-after"><strong>6,40%</strong></span><span class="x-discount">Recebimento <br/> conforme parcelas
                              </span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>



			<section class="x-rates is--hidden">
				<div class="x-rates__center">
					<div class="x-rates__header">
						<h2>Receba suas vendas <strong>com taxas imperdíveis</strong></h2>
						<p>Todas suas vendas diretamente na sua conta com flexibilidade na escolha do prazo de
							recebimento</p>
					</div>
					<div class="x-rates__contents">
						<div class="x-rates__left">
							<div class="x-superget-taxas__credito--titulo">
								<h3>
									<vtex.cmc:iconeDinheiro />Débito
								</h3>
								<p class="x-superget-taxas__info">Receba em<strong>1 dia</strong></p>
								<p class="x-superget-taxas__valores">Venda à vista<strong>2,00%</strong></p>
							</div>
							<div class="x-superget-taxas__debito--cta">
								<p>Garanta já a sua</p>
								<button><a href="#x-shelf">PEDIR MAQUININHA</a></button>
							</div>
						</div>
						<div class="x-rates__right">
							<div class="x-superget-taxas__credito--titulo">
								<h3>
									<vtex.cmc:iconeCartao />Crédito
								</h3>
							</div>
							<div class="x-superget-taxas__credito--info-taxas">
								<div class="x-superget-taxas__credito--collum">
									<p class="x-superget-taxas__info">Receba em<strong>2 dias</strong></p>
									<p class="x-superget-taxas__valores">Venda à vista<strong>2,00%</strong></p>
									<p class="x-superget-taxas__valores">Venda parcelada<strong>5,59%<span>+2,99% por
												parcela</span></strong></p>
								</div>
								<div class="x-superget-taxas__credito--collum">
									<p class="x-superget-taxas__info">Receba em<strong>30 dias</strong></p>
									<p class="x-superget-taxas__valores">Venda à vista<strong>3,09%</strong></p>
									<p class="x-superget-taxas__valores">Venda parcelada<strong>3,79%<span>+2,99% por
												parcela</span></strong></p>
								</div>
								<div class="x-superget-taxas__credito--collum">
									<p class="x-superget-taxas__info">Receba em<strong>12 parcelas</strong></p>
									<p class="x-superget-taxas__valores">Venda à vista<strong>3,09%</strong></p>
									<p class="x-superget-taxas__valores">Venda parcelada<strong>6,40%</strong></p>
								</div>
							</div>
						</div>
					</div>
					<div class="x-superget-taxas__credito--sub-infos"></div>
				</div>

			</section>
			<vtex.cmc:paymentsCardDesktop />
			<section class="x-superdigital-cartao">
				<div class="x-superdigital-cartao__content">
					<div class="x-superdigital-cartao__content__info">
						<h2>cartão SuperGet</h2>
						<p class="x-superdigital-cartao__content__info__paragraph">A conta é simples: combine as
							melhores
							taxas do mercado para suas vendas da SuperGet com a liberdade para movimentá-las no cartão
							SuperGet. O resultado é autonomia para o seu negócio crescer! </p>
						<h3>O cartão que veio para <span>Somar!</span></h3>

						<div class="x-superdigital-cartao__content__info__icons">
							<div class="x-container">
								<div class="x-container__img">
									<img src="/arquivos/icon-maquininha-superget-card.png"
										alt="Icon maquininha" class="icon-maquininha" />
								</div>
								<div class="x-container__text">
									<span>Receba as vendas da sua SuperGet</span>
								</div>
							</div>
							<div class="x-container">
								<div class="x-container__img">
									<img src="/arquivos/icon-hand-superget-card.png"
										alt="Icon hand" class="icon-hand" />
								</div>
								<div class="x-container__text">
									<span>Livre de anuidade e taxa de adesão</span>
								</div>
							</div>
							<div class="x-container">
								<div class="x-container__img">
									<img src="/arquivos/icon-money-superget-card.png"
										alt="Icon money" class="icon-money" />
								</div>
								<div class="x-container__text">
									<span>Sem conta em Banco</span>
								</div>
							</div>
							<div class="x-container">
								<div class="x-container__img">
									<img src="/arquivos/icon-cellphone-superget-card.png"
										alt="Icon cell phone" class="icon-cellphone" />
								</div>
								<div class="x-container__text">
									<span>Movimente seu dinheiro pelo celular</span>
								</div>
							</div>
							<div class="x-container">
								<div class="x-container__img">
									<img src="/arquivos/icon-transfers-superget-card.png"
										alt="Icon transfers" class="icon-transfer" />
								</div>
								<div class="x-container__text">
									<span>Transferências para qualquer banco e para cartões SuperGet </span>
								</div>
							</div>
							<div class="x-container">
								<div class="x-container__img">
									<img src="/arquivos/icon-agency-superget-card.png"
										alt="Icon agency" class="icon-agency" />
								</div>
								<div class="x-container__text">
									<span>Saque nos caixas eletrônicos da rede Banco24Horas</span>
								</div>
							</div>
						</div>
						<div class="x-superdigital-cartao__content__cta">
							<a href="https://www.superget.com.br/cartao-pre-pago-superget">Saiba Mais</a>
							<button>Saiba mais sobre as taxas</button>
						</div>
						<span class="x-superdigital-cartao__content__note">
							Válido para novos clientes que comprarem máquinas da família SuperGet
						</span>
					</div>
				</div>
				<div class="x-superdigital-cartao__img">
				</div>
			</section>
			<section class="x-superdigital-modal">
				<div class="x-superdigital-modal__box">
					<div class="x-superdigital-modal__box__exit">
						<a href="">X</a>
					</div>
					<div class="x-superdigital-modal__box__content">
						<h2>Conheça as tarifas do cartão SuperGet</h2>
						<p><strong>Saque na Rede 24Horas: </strong>R$ 7,20</p>
						<p><strong>Consulta de saldo na Rede 24Horas: </strong>R$ 2,00</p>
						<p><strong>Transferência entre contas Superget: </strong>Gratuito</p>
						<p><strong>Transferência para contas bancárias: </strong>R$ 3,00</p>
						<p><strong>Reemissão de cartão: </strong>R$ 12,00</p>
					</div>
				</div>
			</section>
			<section class="x-testimonials">
				<div class="x-testimonials__center">
					<div class="x-testimonials__header">
						<h6>Conheça quem escolheu <strong>crescer com SuperGet</strong></h6>
					</div>
					<div class="x-testimonials__contents">
						<ul class="x-testimonials__items">
							<vtex:contentPlaceHolder id="Depoimentos" />
						</ul>
					</div>
				</div>
			</section>
			<section class="x-faq">
				<div class="x-faq__contents">
					<div class="x-faq__item">
						<vtex:contentPlaceHolder id="Banner Perguntas Frequentes" />
					</div>
					<div class="x-faq__item">
						<div class="x-faq__item--header">
							<h6>Confira algumas dúvidas frequentes</h6>
						</div>
						<div class="x-faq__item--container">
							<div class="x-faq__item--container-dropdown">
								<h6 class="x-faq__item--title js--faq-title">Como posso acompanhar a entrega da minha
									SuperGet?</h6>
								<div class="x-faq__item--container js--faq-container">Você pode acompanhar o status da
									entrega da sua maquininha pelo nosso aplicativo! Baixe o app Getnet e crie um
									usuário com o seu CPF ou CNPJ. Você receberá a confirmação do pedido no seu e-mail,
									e pode acompanhar o status da entrega da sua SuperGet pelo aplicativo.</div>
							</div>
							<div class="x-faq__item--container-dropdown">
								<h3 class="x-faq__item--title js--faq-title">O que é a conta com cartão pré-pago Superget?</h3>
								<div class="x-faq__item--container js--faq-container">A conta SuperGet é um novo jeito de você 
								receber suas vendas sem a necessidade de possuir uma conta bancária.Você receberá gratuitamente 
								um cartão pré-pago para realizar compras em lojas ou pela internet. 
								Pelo App Cartão SuperGet no seu celular, você pode transferir dinheiro e acessar suas movimentações em poucos segundos.</div>
							</div>
							<div class="x-faq__item--container-dropdown">
								<h3 class="x-faq__item--title js--faq-title">Quando irei receber o valor das minhas
									vendas?</h3>
								<div class="x-faq__item--container js--faq-container">Aqui na Getnet, é você que escolhe
									quando receber suas vendas! Todos os valores de vendas feitas no débito estarão
									disponíveis para você no dia seguinte, e para receber as vendas a crédito você pode
									escolher entre receber tudo em 2 dias, 30 dias ou mês a mês conforme o parcelamento
									realizado no cartão do seu cliente.</div>
							</div>
							<div class="x-faq__item--container-cta"><a href="/institucional/faq">Veja Mais</a></div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</main>

	<div class="x-modal is--hidden">
		<vtex.cmc:modalTaxas />
	</div>


	<vtex:template id="SuperGetCommon-AjaxLoader" />
	<vtex:template id="SuperGetCommon-Overlay" />
	<vtex:template id="SuperGet-Desktop-Footer" />
	<vtex:template id="SuperGetCommon-Scripts" />
	<vtex:template id="SuperGetDesktop-Scripts" />
	<vtex:template id="SuperGetCommon-GoogleFonts" />
	<vtex:template id="SuperGetCommon-ClearCache" />
	<script type="text/javascript" src="/arquivos/superget-desktop-home.js"></script>
</body>

</html>

src/views/desktop/html-templates/SuperGetDesktop-Home.pug
extends ./../_layouts/_desktop-base.pug


//- Template variables
block append vars
    - var $templateName = 'home'
    - var $templateClass = 'home'

block append styles
    link(rel='stylesheet', href=`/arquivos/superget-desktop-${$templateName}.css`, media='all')/

//- Main Content
block content
    main(class='x-content')
        section(class='x-banner')
            div(class='x-banner__contents')
                <vtex:contentPlaceHolder id="Banner Principal" />
        section(class='x-benefits')
            div(class='x-benefits__center')
                div(class='x-benefits__header')
                    h2
                        | A máquina de cartão com
                        strong os melhores benefícios!
                div(class='x-benefits__contents')
                    ul(class='x-benefits__list')
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgfrete`}/
                            p Frete grátis para todo Brasil
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgtaxa`}/
                            p Sem taxa de adesão
                        li
                            span(class='x-benefits__list--icon')
                                img(src='/arquivos/chip.png')/
                            p Chip e plano de dados grátis
                            p *exceto para superget mobile
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgcelular`}/
                            p Não precisa de celular
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgdolar`}/
                            p Compre à vista ou em até 12x sem juros
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgapps`}/
                            p Gerencie suas vendas no app
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgrecarga`}/
                            p Recarga de celular*
                        li
                            span(class='x-benefits__list--icon')
                                #{`vtex.cmc:svgcontagratis`}/
                            p Conta Digital Grátis**
                    div(class='x-benefits__info')

        section(id="x-shelf" class='x-shelf')
            div(class='x-shelf__center')
                div(class='x-shelf__header')
                    h2
                        | Escolha a máquina que mais
                        strong Combina com seu negócio
                div(class='x-shelf__contents')
                    div(class='x-shelf__full')
                        <vtex:contentPlaceHolder id="Produtos Destaque" />
        section(class='x-superget-sell')
            div(class='x-superget-sell__center')
                div(class='x-superget-sell__header')
                    h2
                        | Veja como é fácil começar
                        strong a vender com SuperGet
                div(class='x-superget-sell__contents')
                    ul(class='x-superget-sell__list')
                        li(class='x-superget-sell__item')
                            span(class='x-superget-sell__item--icon')
                                #{`vtex.cmc:svgstepsmachine`}/
                            p Compre a máquina
                            span(class='infoText') Realize a compra da maquininha que mais combina com o seu negócio, à vista ou em até 12x sem juros, frete grátis para todo o Brasil e sem taxa de adesão!
                        li(class='x-superget-sell__item')
                            span(class='x-superget-sell__item--icon')
                                #{`vtex.cmc:svgstepsuser`}/
                            p Realize o cadastro no site
                            span(class='infoText') Para a utilização da sua maquininha é necessário realizar o credenciamento junto a Getnet. Este credenciamento está sujeito a análise e aprovação. Para clientes que já possuem cadastro na Getnet deverão apenas realizar a ativação da maquininha. É simples, rápido e fácil!
                        li(class='x-superget-sell__item')
                            span(class='x-superget-sell__item--icon')
                                #{`vtex.cmc:svgstepsmoney`}/
                            p Ative e comece a vender!
                            span(class='infoText') Aqui a ativação da sua maquininha é simples e rápida. Você faz pelo app e já pode começar a vender. Boas vendas!

        section(class='x-rates')
            div(class='x-rates__center')
                div(class='x-rates__header')
                    h2 Receba suas vendas
                        strong com taxas imperdíveis
                    p Todas suas vendas diretamente na sua conta com flexibilidade na escolha #[br/] do prazo de recebimento
                div(class='x-rates__header-percent')
                    div(class='x-rates__header-percent--left')
                        h3 2%
                        p No
                            strong crédito #[br/]
                            strong à vista
                            |e #[br/]no
                            strong débito
                    div(class='x-rates__header-percent--middle')
                        h2 Receba já! em até 2 dias úteis na sua conta
                        p Mais simplicidade para você vender mais. #[br/] Ficou com dúvidas? Clique aqui e confira melhor as #[br/] taxas aplicadas e as condições dessa oferta.
                    div(class='x-rates__header-percent--right')
                        h3 Garanta já a sua
                        a(href="#x-shelf") PEDIR MÁQUINA
                div(class='x-rates__header-percent--text')
                    p Outras opções #[strong de recebimento]
                div(class='x-rates__contents')
                    div(class='x-rates__left')
                        div(class='x-superget-taxas__credito--titulo')
                            h3 Receba já D+30
                        div(class='x-superget-taxas__credito--info-taxas')

                            div(class='x-superget-taxas__credito--column')
                                div(class='x-superget-taxas__info')
                                    #{`vtex.cmc:iconeDinheiro`}/
                                    h4  Débito
                                    p  receba em #[strong 1 dia]

                                    p(class='x-superget-taxas__valores') À vista
                                            strong(class="x-discount") 2,00%

                            div(class='x-superget-taxas__credito--column')
                                div(class='x-superget-taxas__info')
                                    #{`vtex.cmc:iconeCartao`}/
                                    h4  Crédito
                                    P receba em #[strong 30 dia]

                                div(class="x-superget-taxas")
                                    p(class='x-superget-taxas__valores') À vista #[strong 3,09%]
                                    p(class='x-superget-taxas__valores x-border') parcelado #[strong 3,79%]
                                        span(class='x-discount') +2,99% por parcela


                    div(class='x-rates__right')
                        div(class='x-superget-taxas__credito--titulo')
                            h3 Receba conforme suas vendas
                        div(class='x-superget-taxas__credito--info-taxas')

                            div(class='x-superget-taxas__credito--column')
                                div(class='x-superget-taxas__info')
                                    #{`vtex.cmc:iconeDinheiro`}/
                                    h4 Débito
                                    p receba em #[strong 1 dia]

                                    p(class='x-superget-taxas__valores') À vista
                                        strong(class="x-discount") 1,95%

                            div(class='x-superget-taxas__credito--column')
                                div(class='x-superget-taxas__info')
                                    #{`vtex.cmc:iconeCartao`}/
                                    h4  Crédito
                                    p  receba em #[strong 30 dia]
                                div(class="x-superget-taxas")
                                    p(class='x-superget-taxas__valores x-border' style='border-left:0') À vista #[strong 3,09%]
                                    p(class='x-superget-taxas__valores x-border') parcelado #[strong 6,40%]
                                        span(class='x-discount') +2,99% por parcela

        section(class='x-payments-card')
            div(class='x-payments-card__center')
                div(class='x-payments-card__header')
                    h2
                        | Aceite os principais
                        strong cartões e venda mais!
                div(class='x-payments-card__contents')
                    div(class='x-payments-card__item')
                        div(class='x-payments-card__item--title')
                            h3
                                span(class='x-icon-fisica')
                                |  Pessoa Física
                        div(class='x-payments-card__item--cards')
                            ul
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgmastercard`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgvisa`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgamex`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgelo`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svghipercard`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svghiper`}/
                    div(class='x-payments-card__item')
                        div(class='x-payments-card__item--title')
                            h3
                                span(class='x-icon-juridica')
                                |  Pessoa Jurídica
                        div(class='x-payments-card__item--cards')
                            ul
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgmastercard`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgvisa`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgamex`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgelo`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svghipercard`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svghiper`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgben`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgalelo`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgsodexo`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgticket`}/
                                li
                                    span(class='x-payments-card__item--cards-icon')
                                        #{`vtex.cmc:svgvalerefeicao`}/

        section(class='x-superdigital')
            div(class='x-superdigital__center')
                div(class='x-superdigital__contents')
                    div(class='x-superdigital__item')
                        <vtex:contentPlaceHolder id="Banner SuperDigital" />
                    div(class='x-superdigital__item')
                        <vtex:contentPlaceHolder id="Texto SuperDigital" />
                div(class='x-superdigital__advantages')
                    header(class='x-superdigital__advantages--header')
                        h3
                            | Conheça as vantagens
                            strong de ter uma superdigital
                    ul(class='x-superdigital__advantages--list')
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgrecebimentos`}/
                            p
                                | Recebimento das vendas da sua
                                strong SuperGet
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgpagamentos`}/
                            p Pagamento de contas no site ou aplicativo
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgrecarga`}/
                            p Recarga de Celular
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgcartinternacional`}/
                            p Compras como cartão pré-pago internacional
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgbilheteunico`}/
                            p Recarga de Bilhete Único (apenas para cidade de São Paulo)
                        li(class='x-superdigital__advantages--item')
                            span(class='x-superdigital__advantages--icon')
                                #{`vtex.cmc:svgsaque`}/
                            p
                                | Saque nos caixas eletrônicos
                                strong Santander
                                |  e
                                strong Banco 24 horas
                    div(class='x-superdigital__advantages--cta')
                        a(class='x-button', href='/superdigital') Saiba Mais

        section(class='x-testimonials')
            div(class='x-testimonials__center')
                div(class='x-testimonials__header')
                    h2
                        | Conheça quem escolheu
                        strong crescer com SuperGet
                div(class='x-testimonials__contents')
                    ul(class='x-testimonials__items')
                        <vtex:contentPlaceHolder id="Depoimentos"/>

        section(class='x-faq')
            div(class='x-faq__contents')
                div(class='x-faq__item')
                    <vtex:contentPlaceHolder id="Banner Perguntas Frequentes"/>
                div(class='x-faq__item')
                    div(class='x-faq__item--header')
                        h2 Confira algumas dúvidas frequentes
                    div(class='x-faq__item--container')
                        div(class='x-faq__item--container-dropdown')
                            h3(class='x-faq__item--title js--faq-title')
                                | Como posso acompanhar a entrega da minha SuperGet?
                            div(class='x-faq__item--container js--faq-container')
                                | Você pode acompanhar o status da entrega da sua máquina pelo nosso aplicativo! Baixe o APP Getnet e crie um usuário com o seu CPF ou CNPJ. Você receberá a confirmação do pedido no seu e-mail,  e pode acompanhar o status da entrega da sua SuperGet pelo aplicativo.
                        div(class='x-faq__item--container-dropdown')
                            h3(class='x-faq__item--title js--faq-title')
                                | Como funciona a SuperDigital?
                            div(class='x-faq__item--container js--faq-container')
                                | Compre sua SuperGet e receba o valor das suas vendas direto na Superdigital, uma conta digital grátis! A Superdigital é igual a um banco, só que mais prática. Sem precisar de uma conta bancária, você compra com o cartão pré-pago Internacional Mastercard® e saca nos caixas da Rede Banco24Horas, recebe e transfere dinheiro pra qualquer banco, paga suas contas direto pelo aplicativo e compra em sites e aplicativos com segurança com o cartão virtual.
                        div(class='x-faq__item--container-dropdown')
                            h3(class='x-faq__item--title js--faq-title')
                                | Quando irei receber o valor das minhas vendas?
                            div(class='x-faq__item--container js--faq-container')
                                | Aqui na Getnet, é você que escolhe quando receber suas vendas! Todos os valores de vendas feitas no débito estarão disponíveis para você no dia seguinte, e para receber as vendas a crédito você pode escolher entre receber tudo em 2 dias, 30 dias ou mês a mês conforme o parcelamento realizado no cartão do seu cliente.
                        div(class='x-faq__item--container-cta')
                            a(href='/institucionais/perguntas-frequentes') Veja Mais

block append scripts
    script(type='text/javascript', src=`/arquivos/superget-desktop-${$templateName}.js`)
