src/views/mobile/html-templates/sub-templates/SuperGetMobile-Header.pug
include ./../../../common/_mixins/_mixin__main-menu.pug

header(class='x-header')
    div(class='x-header__center')
        div(class='x-header__menu--mobile')
            #{`vtex.cmc:svgMenuMobile`}/
            nav(class='x-header__navigation')
                ul(class='x-header__navigation--menu')
                    li(class='x-header__navigation--item')
                        a(href='#') Maquininhas
                        div(class="x-header__menu")
                            div(class="x-header__menu--content")
                                div(class="x-header__menu--content-maquinas x-shelf__contents")
                                    ul(class="x-header__menu--content-products")
                                        #{`vtex.cmc:menushelf`}/
                    //- li
                    //-     a(href='/superdigital') Superdigital
                    li
                        a(href='/app') App Getnet

                    li
                        a(href='/cartao-pre-pago-superget') Cartão SuperGet
                        
                    li
                        a(href='/Institucional/politica-de-privacidade') Ajuda
                    
                    li
                        a(href='/cadastro', id='credenciamento', target='_blank', rel='nofollow') Cadastro

                    li
                        a(href='https://site.getnet.com.br/maquininha/aluguel/', id='quero-alugar', target='_blank', rel='nofollow') Quero Alugar

        div(class='x-header__contents')
            div(class='x-header__logo')
                a(href='/' title='SuperGET')
                    #{`vtex.cmc:svgSuperGETLogo`}/
        div(class='x-header__info')
            ul(class='x-header__info--list')
                li(class='x-header__info--item')
                    button(class='js--login')
                        span
                            #{`vtex.cmc:svgHeaderUser`}/
                li(class='x-header__info--item')
                    button(class='js--minicart-open')
                        span
                            #{`vtex.cmc:svgHeaderCart`}/


div(class="x-bottombar")
    a(class='x-bottombar__button', href='/#x-shelf') Pedir Maquininha

//- Vtex Helpers
div(style='display: none;')
  #{`<vtex.cmc:welcomeMessage/>`}/



#{`vtex.cmc:atendimento`}/

src/views/mobile/html-templates/sub-templates/SuperGetMobile-Header.html
<header class="x-header">
    <div class="x-header__center original_menu">
      <div class="x-header__menu--mobile">
        <vtex.cmc:svgMenuMobile/>
        <span>menu</span>
        <nav class="x-header__navigation">
          <ul class="x-header__navigation--menu">
            <li class="x-header__navigation--item"><a href="https://www.superget.com.br">Maquininhas</a>
              <div class="x-header__menu">
                <div class="x-header__menu--content">
                  <div class="x-header__menu--content-maquinas x-shelf__contents">
                    <ul class="x-header__menu--content-products">
                      <vtex.cmc:menushelf/>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="/app">App Getnet</a></li>
            <li><a href="/cartao-pre-pago-superget">Cartão SuperGet</a></li> 
            <li><a href="/Institucional/politica-de-privacidade">Ajuda</a></li>
            <li><a id="credenciamento" href="/cadastro" rel="nofollow">Cadastro</a></li>
            
            <li><a id="quero-alugar" href="https://site.getnet.com.br/maquininha/aluguel/" target='_blank' rel="nofollow">Quero Alugar</a></li>
          </ul>
        </nav>
      </div>
      <div class="x-header__contents">
        <div class="x-header__logo"><a href="/" title="SuperGET">
            <vtex.cmc:svgSuperGETLogo/></a></div>
      </div>
      <div class="x-header__info">
        <ul class="x-header__info--list">
          <li class="x-header__info--item">
              <button class="js--login"><span>
                <vtex.cmc:svgHeaderUser/></span>
              </button>
          </li>
          <li class="x-header__info--item">
          <a href="/checkout">
            <button class="js--minicart-open"><span>
                <vtex.cmc:svgHeaderCart/></span></button>
          </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="x-header__center AB_menu">
      <div class="x-header__menu--mobile sgn-header-menu-mobile">
          <!--
          <vtex.cmc:svgMenuMobile/>
          -->
          <div class="hamburger-menu hamburger-menu-two">
              <input type="checkbox" class="input-check2" id="input-check2" style="display:none;"/>
              <label class="bars-container bars-container2" for="input-check2">
                  <span class="bar bar1"></span>
                  <span class="bar bar2"></span>
                  <span class="bar bar3"></span>
              </label>
          </div>
          <nav class="x-header__navigation" style="padding: 50px 0 0 8%;">
              <ul class="x-header__navigation--menu sgn-header-navigation" style="border-top: 2px solid #f5f5f4;width: 92%;">
                   <li class="x-header__info--item" style="font-size: 14px;height: 50px;margin: 20px 0 5px 0;border-bottom: 2px solid #f5f5f4;width: 261px;">
                      <button class="js--login" style="float: left;"><span>
                        <vtex.cmc:svgHeaderUser/></span>
                      </button>
                      <div class="sgn-menu-acesso-rapido">Acesso rápido por e-mail Entrar com e-mail e senha</div>
                  </li>
                  <li class="sgn-menu-toggle" style="width: 100%;border: 0;"> 
                      <a>Maquininhas</a><span class="sgn-menu-maquininha sgn-abrir-menu-maquininha"></span>
                      <ul class="sgn-Accordion-subElements" style="margin-left: -30px;">
                          <div class="sgn-border sgn-hide"></div>
                          <li class="sgn-Accordion-subElement">
                              <a href="https://www.superget.com.br/superget-mobile/p">SuperGet Mobile</a>
                              <span class="sgn-sub-menu-maquininha"></span>    
                          </li>
                          <li class="sgn-Accordion-subElement">
                              <a href="https://www.superget.com.br/superget-com-bobina/p">SuperGet com Bobina</a>
                              <span class="sgn-sub-menu-maquininha"></span> 
                          </li>
                          <li class="sgn-Accordion-subElement">
                              <a href="https://www.superget.com.br/superget-com-chip-wifi/p">SuperGet com Chip + WIFI</a>
                              <span class="sgn-sub-menu-maquininha"></span>     
                          </li>
                          <li class="sgn-Accordion-subElement">
                              <a href="https://www.superget.com.br/superget-com-chip/p">SuperGet com Chip</a>
                              <span class="sgn-sub-menu-maquininha"></span> 
                          </li>
                          <div class="sgn-border"></div>
                          <div class="sgn-border sgn-hide"></div>
                      </ul>
                  </li>
                  <li style="border-bottom: 2px solid #f5f5f4;width: 261px;"><a href="/app">App Getnet</a></li>
                  <li style="border-bottom: 2px solid #f5f5f4;width: 261px;"><a href="/cartao-pre-pago-superget"><label>Cartão SuperGet</label></a></li> 
                  <li style="border-bottom: 2px solid #f5f5f4;width: 261px;"><a href="/Institucional/politica-de-privacidade"><label>Ajuda</label></a></li>
                
                  <li style="border: 0;"><a id="quero-alugar" href="https://site.getnet.com.br/maquininha/aluguel/" target='_blank' rel="nofollow"><label>Quero Alugar</label></a></li>
              </ul>
              
              <a class="sgn-menu-cadastro" id="credenciamento" href="/cadastro" rel="nofollow"><label>CADASTRE AGORA</label></a>
              <a class="sgn-menu-pedir-maquininha sgn-menu-pedir-maquininha-menu " href="/#x-comparative" rel="nofollow"><label>PEDIR MAQUININHA</label></a>
          </nav>
      </div>
      <div class="x-header__contents">
        <div class="x-header__logo"><a href="/" title="SuperGET">
            <vtex.cmc:svgSuperGETLogo/></a></div>
      </div>
      <div class="x-header__info">
        <ul class="x-header__info--list">
          <li class="x-header__info--item">
          <a href="/checkout">
            <button class="js--minicart-open"><span>
                <vtex.cmc:svgHeaderCart/></span></button>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="x-bottombar"><a class="x-bottombar__button" href="/#x-comparative">Pedir Maquininha</a></div>
  <div style="display: none;"><vtex.cmc:welcomeMessage/> </div>
  <vtex.cmc:atendimento/>
  
  
  <style type="text/css">
  .sgn-header-menu-mobile.is--active .sgn-header-navigation li a {
      color: #969696;
      font-weight: 600;
  }
  
  .x-header__info--list{
      //display: block;
      float: right;
      width: auto;
  }
  
  :root {
    --animationSpeed: 0.25s;
  }
  
  .hamburger-menu {
    display: inline-block;
    width: 29px;
    margin: -5px 45px 0px 0px;
  }
  
  .bars-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
  }
  
  .bars-container,
  .bar {
    cursor: pointer;
  }
  
  .bar {
    width: 100%;
    height: 2.09px;
    background-color: #662c62;
    border-radius: 5px;
    display: block;
  }
  
  /*************** hamburger menu 2 *****************/
  .bars-container2 {
    position: relative;
  }
  
  .bars-container2 .bar {
    position: absolute;
    transform-origin: center;
  }
  
  .bars-container2 .bar1 {
    top: 5%;
    animation: makeCross1Backward var(--animationSpeed) ease 0s 1 forwards, moveDownBackward var(--animationSpeed) ease var(--animationSpeed) 1 forwards;
  }
  
  .bars-container2 .bar2 {
    top: 50%;
    transition: opacity 0.4s ease;
  }
  
  .bars-container2 .bar3 {
    top: 95%;
    animation: makeCross2Backward var(--animationSpeed) ease 0s 1 forwards, moveUpBackward var(--animationSpeed) ease var(--animationSpeed) 1 forwards;
  }
  
  .input-check2:checked + label .bar1 {
    animation: moveDown var(--animationSpeed) ease 0s 1 forwards, makeCross1 var(--animationSpeed) ease var(--animationSpeed) 1 forwards;
  }
  
  .input-check2:checked + label .bar2 {
    opacity: 0;
  }
  
  .input-check2:checked + label .bar3 {
    animation: moveUp var(--animationSpeed) ease 0s 1 forwards,
      makeCross2 var(--animationSpeed) ease var(--animationSpeed) 1 forwards;
  }
  
  @keyframes moveDown {
    from { top: 5%; transform: translateY(0); }
    to { top: 50%; transform: translateY(-50%); }
  }
  
  @keyframes moveDownBackward {
    from { top: 50%; transform: translateY(-50%); }
    to { top: 5%; transform: translateY(0); }
  }
  
  @keyframes moveUp {
    from { top: 95%; transform: translateY(0); }
    to { top: 50%; transform: translateY(-50%); }
  }
  
  @keyframes moveUpBackward {
    from { top: 50%; transform: translateY(-50%); }
    to { top: 95%; transform: translateY(0); }
  }
  
  @keyframes makeCross1 {
    from { transform: rotate(0deg); }
    to { transform: rotate(40deg); }
  }
  
  @keyframes makeCross1Backward {
    from { top: 50%; transform: rotate(40deg) translateY(-50%); }
    to { top: 50%; transform: rotate(0deg) translateY(-50%); }
  }
  
  @keyframes makeCross2 {
    from { transform: rotate(0deg); }
    to { transform: rotate(-40deg); }
  }
  
  @keyframes makeCross2Backward {
    from { top: 50%; transform: rotate(-40deg) translateY(-50%); }
    to { top: 50%; transform: rotate(0deg) translateY(-50%); }
  }
  
  .sgn-menu-toggle{
      background: #fff !important;
  }
  
  .sgn-abrir-menu-maquininha {
      background-image: url(https://superget.vteximg.com.br/arquivos/ids/155832/seta-menu.png);
      background-repeat: no-repeat;
      background-size: 15px 10px;
      width: 15px;
      height: 15px;
      display: block;
      position: relative;
      left: 130px;
      top: -30px;
      margin-bottom: -15px;
      
  }
  
  .sgn-fechar-menu-maquininha {
      background-image: url(https://superget.vteximg.com.br/arquivos/ids/155832/seta-menu.png);
      background-repeat: no-repeat;
      background-size: 15px 10px;
      width: 15px;
      height: 15px;
      display: block;
      position: relative;
      left: 130px;
      top: -35px;
      margin-bottom: -15px;
      transform: rotate(180deg);
  }
  
  .sgn-sub-menu-maquininha {
      background-image: url(https://superget.vteximg.com.br/arquivos/ids/155832/seta-menu.png);
      background-repeat: no-repeat;
      background-size: 13px 8px;
      width: 15px;
      height: 15px;
      display: block;
      position: relative;
      left: 240px;
      top: -24px;
      margin-bottom: -15px;
      transform: rotate(270deg);
      filter: blur(0px) brightness(100%) contrast(100%) drop-shadow(0px 0px 0px #8422b9) grayscale(0%) hue-rotate(50deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  }
  
  .sgn-Accordion-subElement {
      color: #969696;
      font-weight: 700;
      height: 0 !important;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(0);
      transform: scale(0);
      font-size: 0.9em;
      line-height: 2;
      transition-property: height, -webkit-transform;
      transition-property: transform, height;
      transition-property: transform, height, -webkit-transform;
      transition-duration: 0.3s;
      overflow: hidden;
  }
  
  .sgn-border{
      width: 261px;
      margin-left: 30px;
      border-top: 2px solid #f5f5f4;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  
  .sgn-border.sgn-hide{
      display:none;
  }
  
  .sgn-Accordion-subElement-expansive {
      height: 3em !important;
      padding: 10px 0 0 50px;
      line-height: 0;
      background: #f5f5f4;
      border-bottom: 0 !important;
      -webkit-transform: scale(1) !important;
      transform: scale(1) !important;
  }
  
  .sgn-Accordion-subElement-expansive a{
      font-size: 14px !important;
  }
  
  .sgn-menu-cadastro{
      width: 80%;
      display: block;
      height: 45px;
      line-height: 40px;
      border-radius: 24px;
      border: 2.5px solid #662c62;
      color: #662c62;
      font-weight: bold;
      text-align: center;
      margin-left: 4%;
      margin-top: 55px;
  }
  
  .sgn-menu-pedir-maquininha{
      width: 80%;
      display: block;
      height: 50px;
      line-height: 45px;
      border-radius: 24px;
      border: 2.5px solid #ff2600;
      background: #ff2600;
      color: #fff;
      font-weight: bold;
      text-align: center;
      margin-left: 4%;
      margin-top: 15px;
      margin-bottom: 25%;
  }
  
  .sgn-menu-acesso-rapido{
      width: 70%;
      float: left;
      display: block;
      color: #662c62;
      font-weight: 700;
      margin-left: 15px;
      margin-top: -8px;
      line-height: 23px;
  }
  
  .x-atendimento.sgn-atendimento{
      z-index: 9999;
      position: absolute;
  }
  
  body .x-header__center{
      display: none;
  }
  
  body:not(.AB-Menu_hamburguer) .original_menu {
      display: flex !important;
  }
  
  body.AB-Menu_hamburguer .x-header__center.AB_menu{
      display: flex !important;
  }
  
  </style>
  <script type="text/javascript">
  $( document ).ready(function() {
      $(".sgn-menu-toggle").click(function(){
          $(".sgn-border").toggleClass("sgn-hide");
          $(".sgn-Accordion-subElement").toggleClass("sgn-Accordion-subElement-expansive");
          $(".sgn-menu-maquininha").toggleClass("sgn-abrir-menu-maquininha");
          $(".sgn-menu-maquininha").toggleClass("sgn-fechar-menu-maquininha");
      });
      
      $(".hamburger-menu.hamburger-menu-two, .bars-container.bars-container2, .sgn-menu-pedir-maquininha-menu").click(function(){
          $(".x-header").toggleClass("overlay");
          $(".x-header__menu--mobile").toggleClass("is--active");
          $(".x-atendimento").toggleClass("sgn-atendimento");
      });
      
      //$(".x-header__menu--mobile,#Grupo_1").click(function(){
          //$(".x-header__menu--mobile").toggleClass("is--active");
          //$(".x-header").toggleClass("overlay");
      //});
      
      
  });
      
  </script>
