src/views/desktop/html-templates/sub-templates/SuperGetDesktop-Header.html
<header class="x-header">
    <div class="x-header__center">
      <div class="x-header__contents">
        <div class="x-header__logo"><a href="/" title="SuperGET">
            <vtex.cmc:svgSuperGETLogo/></a></div>
        <nav class="x-header__navigation">
          <ul class="x-header__navigation--menu">
            <li class="x-header__navigation--item"><a href="https://www.superget.com.br">Maquininhas</a>
              <div class="x-header__menu">
                <div class="x-header__menu--content">
                  <div class="x-header__menu--content-left" style="display: none">
                    <h3>Conheça<strong>Nossas Máquinas</strong></h3>
                  </div>
                  <div class="x-header__menu--content-right x-shelf__contents">
                    <ul class="x-header__menu--content-products">
                      <vtex.cmc:menushelf/>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="/app">App Getnet</a></li>
            <li><a href="/cartao-pre-pago-superget">Cartão SuperGet</a></li>
            <li class="x-help--item"><a href="/institucional/politica-de-privacidade">Ajuda</a></li>
            <li><a id="credenciamento" href="/cadastro" target="_blank" rel="nofollow">Cadastro</a></li>
           
            <li><a target="_blank" id="quero-alugar" href="https://site.getnet.com.br/maquininha/superget-aluguel/" rel="nofollow">Quero Alugar</a></li>
          </ul>
        </nav>
      </div>
      <div class="x-header__info">
        <ul class="x-header__info--list">
          <li class="x-header__info--item">
            <button class="js--login"><span>
                <vtex.cmc:svgHeaderUser/></span></button>
          </li>
          <li class="x-header__info--item"><a class="x-header__info--item-button" href="/#x-shelf">Pedir Maquininha</a></li>
          <li class="x-header__info--item">
            <a class="js--minicart-open">
                <a href="/checkout">
                    <vtex.cmc:svgHeaderCart/>
                </a>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <vtex.cmc:atendimento/>

src/views/desktop/html-templates/sub-templates/SuperGetDesktop-Header.pug
header(class='x-header')
    div(class='x-header__center')
        div(class='x-header__contents')
            div(class='x-header__logo')
                a(href='/' title='SuperGET')
                    #{`vtex.cmc:svgSuperGETLogo`}/
            nav(class='x-header__navigation')
                ul(class='x-header__navigation--menu')
                    li(class='x-header__navigation--item')
                        a(href='https://www.superget.com.br') Maquininhas
                        div(class='x-header__menu')
                            div(class='x-header__menu--content')
                                div(class='x-header__menu--content-left', style='display: none')
                                    h3
                                       | Conheça
                                       strong Nossas Máquinas
                                div(class='x-header__menu--content-right x-shelf__contents')
                                    ul(class='x-header__menu--content-products')
                                        #{`vtex.cmc:menushelf`}/
                    li
                        a(href='/app') App Getnet
                    li
                        a(href='/cartao-pre-pago-superget') Cartão SuperGet
                    li(class='x-help--item')
                        a(href='/institucional/politica-de-privacidade') Ajuda
                    li
                        a(href='/cadastro', id='credenciamento', rel='nofollow') Cadastro
                    li
                        a(href='https://site.getnet.com.br/maquininha/aluguel/', id='quero-alugar', target='_blank') Quero Alugar
        div(class='x-header__info')
            ul(class='x-header__info--list')
                li(class='x-header__info--item')
                    button(class='js--login')
                        span
                            #{`vtex.cmc:svgHeaderUser`}/
                li(class='x-header__info--item')
                    a(href='/#x-comparative', class='x-header__info--item-button') Pedir Maquininha
                li(class='x-header__info--item')
                    a(class='js--minicart-open')
                        a(href='/checkout')
                            #{`vtex.cmc:svgHeaderCart`}/
                            
#{`vtex.cmc:atendimento`}/
